*,
*::before,
*::after {}

body {
    font-family: "montserrat", sans-serif;
    background-color: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #FAFAFA;
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.conteiner {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.section-title {
    color: #111111;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
}

.span {
    color: #FD9222;
}

.header {
    padding: 20px 32px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #111;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 7px;
}

.header-logo-span {
    font-style: italic;
}

.header-logo-img {}

.header-conteiner {
    display: flex;
    gap: 90px;
    align-items: center;
}

.header-manu-list {
    display: flex;
    gap: 24px;
}

.header-manu-item {}

.header-manu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.header-manu-link:hover {
    color: #FD9222;
}

.header-soc-list {
    display: flex;
    gap: 14px;
}

.header-soc-item {}

.header-soc-link {
    cursor: pointer;
}

.header-soc-link:hover {
    color: #FD9222;
}

.hero {
    padding-bottom: 80px;
}

.hero-conteiner {
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
    background-image: url(../images/desctop.jpg);
    background-size: cover;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-btn {
    width: 144px;
    height: 45px;
    background-color: #FD9222;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222;
}

.hero-btn-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.hero-btn-link:hover {
    color: #FD9222;
}

.hero-btn-down {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.hero-btn-down:hover {
    color: #FD9222;
}

.features {
    background-color: #1E1823;
    padding: 50px;
}

.features-conteiner {}

.features-list {
    display: flex;
    gap: 88px;
}

.features-item {
    width: 308px;
}

.features-subtitle {
    font-size: 18px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.features-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.teste {
    padding-top: 120px;
}

.teste-conteiner {}

.teste-title {
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.teste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.teste-item {
    border: 1px solid #FD9222;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FD9222;
    width: 260px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.teste-img {
    margin: 28px 23px 36px;
}

.teste-text {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
}

.made {
    padding-top: 120px;
}

.made-conteiner {}

.made-title {
    margin-bottom: 50px;
}

.made-img {}

.made-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
    color: #111111;
}

.made-list {}

.made-item {
    margin-bottom: 24px;
}

.made-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.product {
    padding-top: 120px;
}

.product-title {
    margin-bottom: 50px;
}

.product-list {
    background-color: #FFFFFF;
   
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.product-item {
    box-sizing: border-box;
     border: 2px solid #ada9a9;
     border-radius: 15px;
    width: 270px;
}

.product-img {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
}

.product-subtitle {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 2px;
}

.product-text {
    color: #111111;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 18px;
}

.product-btn {
    color: #111111;
    background-color: #FAFAFA;
    width: 94px;
    height: 32px;
    border-radius: 100px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.02em;
    cursor: pointer;
    margin-bottom: 32px;
    margin-left: 88px;
}

.product-btn:hover {
    color: #FAFAFA;
    background-color: #FD9222;
}

.sellers {
    padding-top: 120px;
}

.sellers-title {
    padding-bottom: 50px;
}

.sellers-list {
    display: flex;
    gap: 16px;
}

.sellers-item {}

.sellers-img {
    margin-bottom: 28px;
}

.sellers-text {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #111111;
}

.loved {
    padding-top: 120px;
}

.loved-title {
    padding-bottom: 50px;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
}

.loved-item {}

.loved-img {}

.loved-subtitle {
    color: #111111;
    font-family: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
}

.loved-text {
    color: #6E6E6E;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.loved-btn {
    color: #111111;
    font-size: 18px;
    line-height: normal;
    width: 222px;
    height: 50px;
    border-radius: 100px;
    border-color: #FD9222;
    background-color: #FAFAFA;
    margin-left: 472px;
}

.loved-btn:hover {
    color: #FFFFFF;
    background-color: #FD9222;
}

.footer {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 120px;
}

.footer-conteiner {}

.footer-title {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
}

.footer-text {
    color: #FFFFFF;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-list {}

.footer-item {}

.footer-soc-link {
    color: #FAFAFA;
}

.footer-soc-img {
    color: #FFFFFF
}

.footer-add {
    color: #FFFFFF;
}

.footer-add-list {}

.footer-add-item {}

.footer-add-link {
    color: #FFFFFF;
    font-family: inherit;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-add-link:hover {
    color: #FD9222;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-link {
    color: #FFFFFF;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-nav-link:hover {
    color: #FD9222;
}