* {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "montserrat", sans-serif;
    background-color: #FAFAFA;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color :#FAFAFA;
}

.section-title {
    color: #111111;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
}

.span {
    color: #FD9222;
}

.header {}

.header-nav {}

.header-logo {
    color: #111;
    font-size: 18px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 365px;
}

.header-logo-span {
    font-style: italic;
}

.header-logo-img {}

.header-manu-list {}

.header-manu-item {}

.header-manu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    cursor: pointer;
}

.header-manu-link:hover {
    color: #FD9222;
}

.header-soc-list {}

.header-soc-item {}

.header-soc-link {
    cursor: pointer;
}

.header-soc-link:hover {
    color: #FD9222;
}

.hero {
    background-color: #6E6E6E;
    border-radius: 50px;
    width: 1136px;
    padding: 381px 40px 40px;
    margin: 0px 32px 80px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.hero-btn {
    background-color: #FD9222;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #FCF1E0;
    color: #FD9222;
}

.hero-btn-link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.hero-btn-link:hover {
    color: #FD9222;
}

.hero-btn-down {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.hero-btn-down:hover {
    color: #FD9222;
}

.features {
    background-color: #1E1823;
    padding: 50px;
    margin-bottom: 120px;
}

.features-list {
    display: flex;
        gap: 88px;
}

.features-item {
    width: 308px;
}

.features-subtitle {
    font-size: 18px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.features-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.teste {
    width: 1136px;
    margin: 0 32px 120px;
}

.teste-title {}

.teste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.teste-item {}

.teste-img {}

.teste-text {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111111;
}

.made {
    margin: 0 32px 120px;
}

.made-title {}

.made-img {}

.made-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;

    color: #111111;
}

.made-list {}

.made-item {}

.made-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.product {
    width: 1136px;
    margin: 0 32px 120px;
}

.product-title {}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.product-item {
    box-sizing: border-box;
}

.product-img {
    margin-bottom: 8px;
}

.product-subtitle {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 2px;
}

.product-text {
    color: #111111;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-align: center;
}

.product-btn {
    color: #111111;
    background-color: #FAFAFA;
    border-radius: 100px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.02em;
    cursor: pointer;
    margin: 18px 88px 32px;
}

.product-btn:hover {
    color: #FAFAFA;
    background-color: #FD9222;
}

.sellers {
    margin: 0 32px 120px;
}

.sellers-title {}

.sellers-list {}

.sellers-item {}

.sellers-img {}

.sellers-text {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: #111111;
}

.loved {
    margin-bottom: 120px;
}

.loved-title {}

.loved-list {}

.loved-item {}

.loved-img {}

.loved-subtitle {
    color: #111111;
    font-family: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
}

.loved-text {
    color: #6E6E6E;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.loved-btn {
    color: #111111;
    font-size: 18px;
    line-height: normal;
    width: 222px;
    height: 50px;
    border-radius: 100px;
    border-color: #FD9222;
    background-color: #FAFAFA;
}

.loved-btn:hover {
    color: #FFFFFF;
    background-color: #FD9222;
}

.footer {
    background-color: #1E1823;
}

.footer-title {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
}

.footer-text {
    color: #FFFFFF;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-list {}

.footer-item {}

.footer-soc-link {
    color: #FAFAFA;
}

.footer-soc-img {
    color: #FFFFFF
}

.footer-add {
    color: #FFFFFF;
}

.footer-add-list {}

.footer-add-item {}

.footer-add-link {
    color: #FFFFFF;
    font-family: inherit;
        font-family: 400;
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: normal;
}

.footer-add-link:hover {
    color:#FD9222;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-link {
    color: #FFFFFF;
    font-family: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: normal;
}

.footer-nav-link:hover {
    color: #FD9222;
}